@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*, *::before, *::after {
    box-sizing: border-box;
}

.Notifications {
    border: 2px dashed red;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    margin: 20px;
}

