@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*, *::before, *::after {
    box-sizing: border-box;
}

:root{
  --font-family-base: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  --font-family-title: Raleway, "Helvetica Neue", Helvetica, Arial, sans-serif;
  --primary-color: rgb(201, 70, 70);
  -font-size-small: 1.2rem;
  --font-size-medium: 1.6rem;
  --font-size-large: 1.8rem;
  --font-size-x-large: 2.3rem;
  --font-size-xx-large: 3.4rem;
  
}

.App-header{
  display:flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.App-header h1{
  color: var(--primary-color);
  font-size: var(--font-size-xx-large);
  padding-top: 8rem;
  font-family: var(--font-family-base);
}

.Horizontal-rule {
  color: var(--primary-color);
}

