@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

*, *::before, *::after {
    box-sizing: border-box;
}

.App-header{
  display:flex;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

